body {
  font-family: "Roboto";
  background: #311951;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-height: 600px;
}

.calculator {
  display: flex;
  flex-direction: column;
  background: #202030;
  box-sizing: border-box;
}

.display {
  flex-grow: 1;
  font-size: 170%;
  border-radius: 15px;;
  border: 3px solid rgba(120, 120, 135, 0.25);
  background: #c4b6d3;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3%;
  padding: 10px;

}

button {
  background: #161622;
  color: #c6c6c6;
  border-radius: 15%;
  border: 0px;
  font-size: 170%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

button:hover {
  background-color: #464658;
}

button:active {
  background: #161622;
}

#all-clear {
    background: #a00;
}

#all-clear:hover {
  background-color: #d00;
}

#all-clear:active {
  background-color: #a00;
}

#equals {
  background: #080;
}

#equals:hover {
    background-color: #0b0;
  }

#equals:active {
    background-color: #090;
  }

@media (max-width: 600px) and (orientation:portrait) {
  .container {
    height: 100vh;
    min-height: 350px;
  }

  .calculator {
    height: 100vh;
    width: 100vw;
    padding: 6vh 6vw;
    gap: 4%;
    min-width: 250px;
  }

  .display {
    flex-grow: 2;
  }

  .buttons {
    flex-grow: 1;
  }
}

@media (max-height: 600px) and (orientation:landscape) {
  .container {
    height: 100vh;
    min-height: 100px;
  }

  .calculator {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    gap: 3%;
  }

  .display {
    flex: 2;
  }

  .buttons {
    flex: 5;
    padding: 1% 5%;
    grid-gap: 4% 4%;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 601px) and (min-height: 601px){
  .calculator {
    box-shadow: 5px 20px 50px rgba(5,5,20,0.7);
    border-radius: 8%;
    min-width: 320px;
    height: 80%;
    max-height: 700px;
    aspect-ratio: 0.7;
    gap: 20px;
    padding: 35px;
  }

  .buttons {
    flex: 3;
  }
}